<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
  <script src="https://launchpad.zaikio.com/launchpad.js"></script>
</head>

<body>
  <div id="zai-launchpad"></div>
  <div class="container" style="padding-top: 50px">
    <p>Hello <%- currentUser.full_name; %>!</p>

    <h2>Organisations</h2>

    <div class="d-flex justify-content-center align-items-stretch flex-wrap">

      <% currentUser.organization_memberships.forEach(function(membership) { %>
        <div class="card" style="flex-basis: calc(25% - 10px);margin:5px">
          <% if (membership.organization.logo_url) { %>
            <img class="card-img-top" src="<%- membership.organization.logo_url; %>" alt="Card image cap">
          <% } %>
          <div class="card-body">
            <h5 class="card-title"><%- membership.organization.name; %></h5>
            <p class="card-text"><%- membership.organization.kinds.join(", "); %></p>

            <% if (membership.organization.connected) { %>
              <span class="badge badge-success">Connected</span>
            <% } else { %>
              <% if (membership.roles.includes('admin') || membership.roles.includes('owner')) { %>
                <a href="#" class="btn btn-primary">Install app</a>
              <% } else { %>
                <div class="alert alert-warning" role="alert">Only admins can install an app</div>
              <% } %>
            <% } %>
          </div>
        </div>
      <% }); %>

    </div>

    <a href="/logout">Logout</a>
  </div>
  <script>
  if (window.zaiLaunchpad) {
    window.zaiLaunchpad.setup({
      loadPersonData: () => {
        return fetch('/current_person.json').then(response => response.json());
      },
      directoryHost: '<%- host; %>', // optional host, you can specify the sandbox for your test environment
      activeOrganizationId: null, // The currently active organization or null if the user is selected
      activeAppName: 'demo_nodejs', // The currently active app, so the name of your app
      onSelectOrganization: organization => {
        if (organization) {
          // your code
        } else {
          // Person was selected
          // your code
        }
      },
      helpMenu: [
        {
          label: 'Developer Hub',
          url: 'https://docs.zaikio.com/',
        },
      ]
    });
    }
  </script>
</body>
</html>
