<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <div class="container" style="padding-top: 50px">
    <h1><%- membership.organization.name; %></h1>

    <div class="card">
      <div class="card-body d-flex">
        <div>
          <% if (membership.organization.logo_url) { %>
            <img class="card-img-top" src="<%- membership.organization.logo_url; %>" alt="<%- membership.organization.name; %>" style="width: 100px;margin-right:20px;">
          <% } %>
        </div>

        <div class="flex-grow-1 p-2">
          <h5 class="card-title">
            <%- membership.organization.name; %>
            <% if (membership.organization.connected) { %>
              <span class="badge badge-success">Connected</span>
            <% } %>
          </h5>
          <p class="card-text"><%- membership.organization.kinds.join(", "); %></p>

          <% if (!membership.organization.connected) { %>
            <% if (membership.roles.includes('admin') || membership.roles.includes('owner')) { %>
              <a href="/install?organization_id=<%- membership.organization.id; %>" class="btn btn-primary">Install Node Demo App</a>
            <% } else { %>
              <div class="alert alert-warning mb-0" role="alert">Only admins can install an app</div>
            <% } %>
          <% } %>
        </div>

        <div>
          <a href="/install?organization_id=<%- membership.organization.id; %>" class="btn btn-primary">Reconnect</a>
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex flex-column">
      <h4>Create Zaikio Order</h4>
      <div class="message-container" style="padding-top: 10px;">
        <% if (message) { %>
          <p id="message" class="<%= message.type %>"><%= message.text %></p>
        <% } %>
      </div>
      <form id="orderForm" class="rounded d-flex flex-column" method="POST" action="/create_zaikio_order">
        <input type="hidden" name="organizationId" value="<%- membership.organization.id; %>">
        <label for="orderNumber">Order Number:</label>
        <input type="text" id="orderNumber" name="orderNumber" placeholder="BKF19U" required="true" style="margin-bottom: 10px;">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" placeholder="5000" required="true" style="margin-bottom: 20px;">
        <button type="submit" id="zaikioOrderCreate" class="btn btn-success">Create</button>
      </form>
    </div>
    <div class="mt-4"><a href="/">Back to Dashboard</a></div>
  </div>
</body>
</html>
