<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs') %>
  <script src="https://launchpad.zaikio.com/launchpad.js"></script>
</head>

<body>
  <%- include('../partials/launchpad.ejs', { organizationId: membership.organization.id, host: host }) %>
  <div class="container" style="padding-top: 50px">
    <h1><%- membership.organization.name; %></h1>

    <% if (membership.organization.logo_url) { %>
      <img c src="<%- membership.organization.logo_url; %>" style="height:100px" alt="Card image cap">
    <% } %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%- membership.organization.name; %></h5>
        <p class="card-text"><%- membership.organization.kinds.join(", "); %></p>

        <% if (membership.organization.connected) { %>
          <span class="badge badge-success">Connected</span>
        <% } else { %>
          <% if (membership.roles.includes('admin') || membership.roles.includes('owner')) { %>
            <a href="/install?organization_id=<%- membership.organization.id; %>" class="btn btn-primary">Install app</a>
          <% } else { %>
            <div class="alert alert-warning" role="alert">Only admins can install an app</div>
          <% } %>
        <% } %>
      </div>
    </div>

    <a href="/">Back to Dashboard</a>
  </div>
</body>
</html>
